<h1><%= @blogger.name %></h1>
<p><%= @blogger.bio %></p>
<h3>Total Likes <%= @total_likes %></h3>
<%= link_to "Features Post", @featured_post %>
<h3>Most written destinations</h3>
<ul>
  <% @all_destinations.each do |destination| %>
    <li><%= link_to destination.name, destination %> <%= destination.posts.length %></li>
  <% end %>
</ul>
